<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
      <% include partials/nav.ejs  %>
    <h1>This is Home Page</h1>
    <form id="myForm">
        <input type="text" name="item">
        <button type="submit">Add to list</button>
        <h3>Click on any Item to instantly remove it</h3>
    </form>
    <ul>
        <% data.forEach((item)=>{ %>
          <li onclick="fn1(this)"><%= item.wish %></li> 
        <% }) %>
    </ul>

    <script src="/index.js"></script>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>